.main {
  height: 91vh;
  background: linear-gradient(120deg, #376a9d, #008b8b, #008080);
  display: flex;
}

.main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding-left: 170px;
  line-height: 1.1;
}
.main-left h2 {
  color: #f4f4f4;
  font-size: 64px;
}
.main-left-paragraph p {
  color: #f4f4f4;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.main-latest-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-latest-button button {
  background: #00e676;
  color: white;
  border: none;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 270px;
  height: 50px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.main-latest-button button:hover {
  background: #00ffff;
  color: #0d1b2a;
  border: 1px solid green;
}
.main-latest-button button:active {
  opacity: 50%;
  background: #00e676;
  color: white;
  border: none;
}

.main-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */

@media (max-width: 1280px) {
  .main {
    height: 93vh;
  }
  .main-left {
    padding-left: 100px;
  }
  .main-left h2 {
    font-size: 50px;
  }
  .main-left p {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
  }
  .main-latest-button {
    display: block;
  }
  .main-latest-button button {
    margin-top: 20px;
    font-size: 18px;
    width: 220px;
  }
  .main-right img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .main {
    height: 50vh;
  }
  .main-left {
    padding-left: 80px;
  }
  .main-left h2 {
    font-size: 40px;
  }
  .main-left p {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
  }
  .main-left img {
    height: 40px;
    width: 40px;
  }
  .main-latest-button {
    display: block;
  }
  .main-latest-button button {
    margin-top: 15px;
    font-size: 16px;
    width: 200px;
  }
  .main-right img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 800px) {
  .main {
    height: 50vh;
  }
  .main-left {
    padding-left: 40px;
  }
  .main-left h2 {
    font-size: 22px;
  }
  .main-left p {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    text-align: start;
  }
  .main-left img {
    height: 30px;
    width: 30px;
  }
  .main-latest-button {
    display: block;
  }
  .main-latest-button button {
    margin-top: 10px;
    font-size: 16px;
    width: 200px;
  }
  .main-right img {
    width: 240px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .main {
    height: 50vh;
  }
  .main-left {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
  }
  .main-left h2 {
    font-size: 25px;
  }
  .main-left p {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    text-align: start;
  }
  .main-left img {
    width: 40px;
    height: 40px;
  }
  .main-latest-button {
    display: flex;
    justify-content: flex-start;
  }
  .main-latest-button button {
    margin-top: 0px;
    font-size: 14px;
    width: 180px;
    height: 35px;
  }
  .main-right {
    display: none;
  }
}
