.related-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.related-products h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.related-products hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;
}

.related-products-items{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 30px;
}

/* Responsive */

@media (max-width:1280px) {
    .related-products{
        height: 65vh;
    }
    .related-products h1{
        font-size: 30px;
    }
    .related-products hr{
        width: 180px;
        height: 5px;
    }
    .related-products-items{
        gap: 20px;
        margin-top: 40px;
    }
}

@media (max-width:1024px) {
    .related-products{
        height: 55vh;
        padding-bottom: 10px;
    }
    .related-products h1{
        font-size: 25px;
    }
    .related-products hr{
        width: 140px;
        height: 4px;
    }
    .related-products-items{
        gap: 15px;
        margin-top: 25px;
    }
}

@media (max-width:800px) {
    .related-products h1{
        font-size: 20px;
    }
    .related-products hr{
        width: 120px;
        height: 3px;
    }
    .related-products-items{
        gap: 5px;
        margin-top: 10px;
    }
}

@media (max-width:500px) {
    .related-products{
        height: auto;
    }
    .related-products h1{
        font-size: 18px;
    }
    .related-products hr{
        width: 80px;
    }
    .related-products-items{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 25px;
       margin: 5px;
    }
}