.cart-items {
  margin: 100px 170px;
}
.cart-items hr {
  height: 3px;
  background: black;
  border: 0;
}

.cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 75px;
  align-items: center;
  padding: 20px 0px;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-format-main hr {
  height: 3px;
  background: gray;
  border: 0;
}
.cart-items-format-main p {
  font-size: 18px;
}

.cart-items-format {
  font-size: 17px;
  font-weight: 500;
}
.cart-items-product-icon {
  height: 62px;
}

.cart-items-remove-icon {
  width: 35px;
  height: 35px;
  margin-left: 20px;
  cursor: pointer;
}

.cart-items-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background: white;
  margin-left: 15px;
}

.cart-items-down {
  display: flex;
  margin: 100px 0px;
}

/* Responsive */

@media (max-width: 1280px) {
  .cart-items {
    margin: 60px 50px;
  }
  .cart-items-format-main {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .cart-items-product-icon {
    height: 50px;
  }
  .cart-items-remove-icon {
    margin: auto;
  }
  .cart-items-quantity {
    width: 40px;
    height: 30px;
  }
  .cart-items-down {
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
}
@media (max-width:800px) {
  .cart-items-format-main p{
    font-size: 14px;
  }
}

@media (max-width:500px) {
  .cart-items-format-main{
    display: none;
  }
  .cart-items-format-main p{
    font-size: 16px;
  }
  .cart-items-format{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }
}
