.item {
  width: 250px;
}
.item img {
  width: 200px;
  height: 220px;
  align-items: center;
}
.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: #0d1b2a;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: gray;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

/* Responsive */

@media (max-width:1280px) {
  .item{
    width: 90%;
    font-size: 14px;
  }
  .item img{
    width: 190px;
  }
}

@media (max-width:1024px) {
  .item img{
    width: 80%;
  }
  .item-price-new{
    font-size: 16px;
  }
  .item-price-old{
    font-size: 16px;
  }
}

@media (max-width:800px) {
  .item{
    font-size: 12px;
  }
  .item-prices{
    display: block;
  }
}

@media (max-width:500px) {
  .item{
    font-size: 12px;
  }
  .item-price-new{
    font-size: 14px;
  }
  .item-price-old{
    font-size: 14px;
  }
}