.description-box{
    margin: 20px 50px;
}

.description-box-navigator{
    display: flex;
}

.description-box-navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    width: 171px;
    height: 70px;
    border: 1px solid black;
}
.description-box-navbox.fade{
    background: white;
    color: gray;
}

.description-box-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid black;
    padding: 48px;
    padding-bottom: 70px;
    text-align: justify;
}

/* Responsive */

@media (max-width:1280px) {
    .description-box{
        margin: 60px;
    }
}

@media (max-width:800px) {
    .description-box{
        margin: 60px 20px;
    }
    .description-box-description{
        font-size: 14px;
    }
}
