.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #f7f5f5;
  padding-top: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-logo p {
  color: black;
  font-size: 46px;
  font-weight: 700;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
  font-size: 20px;
}
.footer-links li {
  cursor: pointer;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  color: black;
  cursor: pointer;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #5e5e5e;
}

/* Responsive */

@media (max-width: 800px) {
  .footer {
    gap: 20px;
  }
  .footer-logo {
    gap: 10px;
    align-items: end;
  }
  .footer-logo img {
    width: 40px;
    height: 40px;
  }
  .footer-logo p {
    font-size: 25px;
  }
  .footer-links {
    font-size: 14px;
    gap: 10px;
  }
  .footer-social-icons {
    width: 20px;
  }
  .footer-copyright {
    font-size: 13px;
  }
}
