.news-letter {
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  background: #e5fff2;
  gap: 30px;
}
.news-letter h1 {
  color: black;
  font-size: 55px;
  font-weight: 600;
}
.news-letter p {
  color: black;
  font-size: 20px;
}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid black;
}
.news-letter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Montserrat;
    font-size: 16px;
}
.news-letter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.news-letter div button:hover{
    background: white;
    color: black;
    font-size: 20px;
}