.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background: #E0FFFA;
    padding-top: 10px;
}
.popular h1{
    color: #0D1B2A;
    font-size: 40px;
    font-weight: 600;

}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #0D1B2A;
    outline: none;
}

.popular-items{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

/* Responsive */

@media (max-width:1280px) {
    .popular{
        height: 65vh;
    }
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 180px;
        height: 5px;
    }
    .popular-items{
        gap: 20px;
        margin-top: 40px;
    }
}

@media (max-width:1024px) {
    .popular{
        height: 55vh;
        padding-bottom: 10px;
    }
    .popular h1{
        font-size: 25px;
    }
    .popular hr{
        width: 140px;
        height: 4px;
    }
    .popular-items{
        gap: 15px;
        margin-top: 25px;
    }
}

@media (max-width:800px) {
    .popular h1{
        font-size: 20px;
    }
    .popular hr{
        width: 120px;
        height: 3px;
    }
    .popular-items{
        gap: 5px;
        margin-top: 10px;
    }
}

@media (max-width:500px) {
    .popular{
        height: auto;
    }
    .popular h1{
        font-size: 18px;
    }
    .popular hr{
        width: 80px;
    }
    .popular-items{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 25px;
       margin: 5px;
    }
}